#header{background:url(http://i.imgur.com/YEayad7.jpg?1)}

body{background-image:url("http://i.imgur.com/FXuNSgP.jpg");background-repeat:no-repeat;background-position:center}

.chat-log{font-size:10pt;background: url(http://imgur.com/iwq6Jhe) height=600;
no-repeat scroll right bottom;
background:#8080ff;
color:#000;
overflow:auto;
}

.menugroup .button{background:#737373}.menugroup

.menugroup {
background:#8080ff);
text-align: center;
}

.button:hover{background:#373737}

.userlist {
border-left: 1px solid #D5DDE4;
background: #d5d5d5;
}

.pm-log{
  font-family: Geneva, Tahoma, Verdana, sans-serif;
}


.customsymbol {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #173aeb), color-stop(1, #1426e3) );
	background:-moz-linear-gradient( center top, #173aeb 5%, #1426e3 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#173aeb', endColorstr='#1426e3');
	background-color:#173aeb;
	-webkit-border-top-left-radius:6px;
	-moz-border-radius-topleft:6px;
	border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
	-moz-border-radius-topright:6px;
	border-top-right-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	-moz-border-radius-bottomright:6px;
	border-bottom-right-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	-moz-border-radius-bottomleft:6px;
	border-bottom-left-radius:6px;
	text-indent:0;
	border:3px solid #050305;
	display:inline-block;
	color:#000000;
	font-family:Comic Sans MS;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:50px;
	line-height:50px;
	width:100px;
	text-decoration:none;
	text-align:center;
}
.customsymbol:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(#ff0000), color-stop(#ff0000) );
	background:-moz-linear-gradient( center top, #1426e3 5%, #173aeb 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1426e3', endColorstr='#173aeb');
	background-color:#1426e3;
}.customsymbol:active {
	position:relative;
	top:1px;
}
/* This button was generated using CSSButtonGenerator.com */
