#header{background:url(http://i.gyazo.com/95ee2c92870651008adb02beea1a873c.png)}

body{background-image:url("http://i.imgur.com/GcXNn4Q.jpg?1");background-repeat:no-repeat;background-position:center}

.chat-log{font-size:10pt;background: url() height=600;
no-repeat scroll right bottom;
background:#8080ff;
color:#000;
overflow:auto;
font-family: Geneva, Tahoma, Verdana, sans-serif;
}

.menugroup .button{background:#737373}.menugroup

.menugroup {
background:#8080ff);
text-align: center;
}

.button:hover{background:#373737}

.userlist {
border-left: 1px solid #D5DDE4;
background: #d5d5d5;
}

.pm-log{
  font-family: Geneva, Tahoma, Verdana, sans-serif;
}

.customcymbol {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #2232e3), color-stop(1, #290bd6) );
	background:-moz-linear-gradient( center top, #2232e3 5%, #290bd6 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2232e3', endColorstr='#290bd6');
	background-color:#2232e3;
	-webkit-border-top-left-radius:6px;
	-moz-border-radius-topleft:6px;
	border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
	-moz-border-radius-topright:6px;
	border-top-right-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	-moz-border-radius-bottomright:6px;
	border-bottom-right-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	-moz-border-radius-bottomleft:6px;
	border-bottom-left-radius:6px;
	text-indent:0;
	border:3px solid #000000;
	display:inline-block;
	color:#0f070f;
	font-family:Comic Sans MS;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:33px;
	line-height:33px;
	width:94px;
	text-decoration:none;
	text-align:center;
}
.customcymbol:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #290bd6), color-stop(1, #2232e3) );
	background:-moz-linear-gradient( center top, #290bd6 5%, #2232e3 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#290bd6', endColorstr='#2232e3');
	background-color:#290bd6;
}
.customcymbol:active {
	position:relative;
	top:1px;
}
.tg  {border-collapse:collapse;border-spacing:0;border-color:#999;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#999;color:#444;background-color:#F7FDFA;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#999;color:#fff;background-color:#26ADE4;}
.tg .tg-vn4c{background-color:#D2E4FC}
.tg .tg-e3zv{font-weight:bold}
.tg .tg-vv7f{background-color:#D2E4FC;font-weight:bold}

