#header {
    background-image: url(http://i.gyazo.com/95ee2c92870651008adb02beea1a873c.png);
}

body {
    background-image: url(http://www.wallsave.com/wallpapers/1920x1200/wood/2287638/wood-original-wooden-boards-horizontal-light-2287638.jpg);
}

.chat-log {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQeGUDIKbi6PcTm_lOGDL9z2T5TBrWSQyRXUcyTsmEtyng6NyrP9g);
    background-color: #b45f04;
    font-family: Geneva, Tahoma, Verdana, sans-serif;
}
 
.menugroup .button {
    background-image: url(http://texturelib.com/Textures/brick/modern/brick_modern_0036_01_preview.jpg);
}
 
.menugroup {
    background-image: url(http://www.colourbox.com/preview/4293472-567316-vector-coffee-bean-seamless-background.jpg);
}
 
.button:hover {
    background-color: #373737;
}

.userlist {
    border-left: 1px solid #E2E2E2;
    background-color: #E2E2E2;
}

.pm-log {
    font-family: Geneva, Tahoma, Verdana, sans-serif;
}
