.header{
  background:url(http://i.gyazo.com/95ee2c92870651008adb02beea1a873c.png)
  }

body{
  background-image:url("http://static7.depositphotos.com/1000419/788/v/950/depositphotos_7886696-Coffee-time-seamless-background-for-your-design.jpg")
}

.chat-log {
	background: url(http://i.imgur.com/fTXBQ98.jpg)	no-repeat scroll right top;
	color: black;
}

.battle-log {
	background: url(http://i.imgur.com/fTXBQ98.jpg);
	color: black;

 }
 .chat-log-add,
.battle-log-add{
background: url()
}

/*"Look for a battle" buttons (when hovered over)*/
.menugroup .button:hover {
   	background: #100;
  	color: #eff
}

/*"Look for a battle" buttons*/
.menugroup .button {
    	background: #fff;
  		color: #100
}

.menugroup {
background: url(http://i.imgur.com/7Pq2XQs.png) center repeat;
text-align: center;
color: black;
}

.button:hover{background:#373737}

.userlist {
border-left: 2px;
background: #eee;
color: black;
}

.pm-log {
	background: url(http://www.echodeck.net/webflyer/images/cool_present_bg.gif);
	color: #FFFFFF;
}
.pm-window h3 {
    background: url(http://images2.layoutsparks.com/1/237102/miaka-dbl-bg-sky.gif);
  	border: 2px;
}
.pm-window.focused h3, .pm-window.focused h3:hover {
background: url(http://freedesignfile.com/upload/2012/09/sun-background-3.jpg);
border: 2px;
}
.pm-log-add{
        background: #a00;
  		border: 2px;
    	border-color: #000;
}

.customcymbol {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #2232e3), color-stop(1, #290bd6) );
	background:-moz-linear-gradient( center top, #2232e3 5%, #290bd6 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2232e3', endColorstr='#290bd6');
	background-color:#2232e3;
	-webkit-border-top-left-radius:6px;
	-moz-border-radius-topleft:6px;
	border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
	-moz-border-radius-topright:6px;
	border-top-right-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	-moz-border-radius-bottomright:6px;
	border-bottom-right-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	-moz-border-radius-bottomleft:6px;
	border-bottom-left-radius:6px;
	text-indent:0;
	border:3px solid #000000;
	display:inline-block;
	color:#0f070f;
	font-family:Comic Sans MS;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:33px;
	line-height:33px;
	width:94px;
	text-decoration:none;
	text-align:center;
}
.customcymbol:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #290bd6), color-stop(1, #2232e3) );
	background:-moz-linear-gradient( center top, #290bd6 5%, #2232e3 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#290bd6', endColorstr='#2232e3');
	background-color:#290bd6;
}
.customcymbol:active {
	position:relative;
	top:1px;
}
.hangman{
  background: url(http://fc09.deviantart.net/fs71/f/2012/275/7/7/black_and_grey_stripe_pattern_by_wiizkiid-d5gm6uv.png) center;
  color: #eff;
}
