#header {
    background-image: url(http://i.gyazo.com/95ee2c92870651008adb02beea1a873c.png);
}

body {
    background-image: url(http://media.moddb.com/images/members/1/137/136034/cafe.jpg);
}

.chat-log {
    font-family: Geneva, Tahoma, Verdana, sans-serif;
}
 
.menugroup .button {
    background-image: url(http://img2.findthebest.com/sites/default/files/2307/media/images/Light_Brown_429913_i0.png);
}
 
.menugroup {
    background-image: url(http://www.colourbox.com/preview/3601653-743326-coffee-beans-seamless-background.jpg);
}
 
.button:hover {
    background-color: #373737;
}

.welcome {
  background: url(http://i.imgur.com/Fr33e5q.png) center repeat-y;
  margin-top:-2px;
  color: #ecf0f1;
}
.userlist {
    border-left: 1px solid #E2E2E2;
}

.pm-log {
    font-family: Geneva, Tahoma, Verdana, sans-serif;
}

.char {
     background: url(http://fc09.deviantart.net/fs71/f/2012/275/7/7/black_and_grey_stripe_pattern_by_wiizkiid-d5gm6uv.png) center;
     color: #eff; /* Text color Making it white cause bg is black/grey. */
}

.music {
     background: url(http://i.imgur.com/600FBHp.png) center;
     color: #eff; /* Text color Making it black cause bg is colorful. */
}

.menu {
     background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQeGUDIKbi6PcTm_lOGDL9z2T5TBrWSQyRXUcyTsmEtyng6NyrP9g) center;
     color: #eff; /* Text color Making it black cause bg is white. */
}
