#header {
    background-image: url(http://i.gyazo.com/95ee2c92870651008adb02beea1a873c.png);
}

body {
    background-image: url(http://www.wallsave.com/wallpapers/1920x1200/wood/2287638/wood-original-wooden-boards-horizontal-light-2287638.jpg);
}

.chat-log {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQeGUDIKbi6PcTm_lOGDL9z2T5TBrWSQyRXUcyTsmEtyng6NyrP9g);
    background-color: #b45f04;
    font-family: Geneva, Tahoma, Verdana, sans-serif;
}

.menugroup .button {
    background-color: #E8FFFE;
}

.menugroup {
    background-color: #E8FFFE;
}

.button:hover {
    background-color: #373737;
}

.userlist {
    border-left: 1px solid #E8FFFE;
    background-color: #E8FFFE;
}

.pm-log {
    font-family: Geneva, Tahoma, Verdana, sans-serif;
}
